@model ClienteModel

<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>#</td>
                    <td>#</td>
                    <td>ID</td>
                    <td>NOME</td>
                    <td>EMAIL</td>
                </tr>
            </thead>
            <tbody>
                @if(ViewBag.ListaClientes != null){
                    @foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
                    {
                <tr>
                    <td style="width:80px;">
                        <button class="btn btn-default" onclick="registrar(@item.Id.ToString())">
                            Editar
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </td>
                    <td style="width:80px;">
                        <button class="btn btn-danger" onclick="excluir(@item.Id.ToString())">
                            Excluir
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Nome.ToString()</td>
                    <td>@item.Email.ToString()</td>
                </tr>
                    }
                }

            </tbody>
        
        </table>
        

    </div>
        <button class="btn btn-block btn-primary" onclick="registrar()">Registrar cliente</button>

        <script>
            function registrar(id) {
                if (id == null) {
                    id = ""
                } else {
                    id = "/" + id
                }

                window.location.href = window.location.origin + "/Home/Registrar" + id
            }

            function excluir(id) {
                window.location.href = window.location.origin + "/Home/Excluir/" + id
            }
        </script>
</div>